<p>Property Binding</p>

<img [src]="logoIBM" [alt]="'Logo da IMB - Parceira do Global Solution'" class="logo"/>
<img [src]="logoMedico" [alt]="'Logo do Medico sem Fronteiras - Parceiro do Global Solution'" class="logo"/>
<img [src]="logoINPE" [alt]="'Logo da INPE - Parceira do Global Solution'" class="logo"/>
<img [src]="logoSantoAndre" [alt]="'Logo da Defesa Civil de Santo Andre - Parceira do Global Solution'" class="logo"/>
<img [src]="logoSaoPauloDef" [alt]="'Logo do corpo de bombeiros de São Paulo - Parceiro do Global Solution'" class="logo"/>
